
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdc2c;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 2rem;
  }
  
  header input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  header button {
    background-color: #26b3f0;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  header button:hover {
    background-color: #4cc2f5;
  }
